 * {
	 box-sizing: border-box;
}
 .handle {
	 position: absolute;
	 width: 250px;
	 left: 15px;
	 top: 15px;
}

 .buttons {
	 display: flex;
	 width: 100%;
	 height: 370px;
	 justify-content: space-around;
	 flex-wrap: wrap-reverse;
}
 .btn-container {
	 flex-basis: 50%;
	 position: relative;
}

 button.btn-floor {
	 position: relative;
	 width: 60px;
	 height: 60px;
	 display: block;
	 cursor: pointer;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 23px;
	 color: #3c3c3c;
	 outline: none;
}
 button.btn-floor:hover {
	 border-color: rgb(152, 157, 152);
}

 .building {
	 width: 300px;
	 position: absolute;
	 background: #c64a82;
	 background-size: cover, cover;
	 height: 460px;
	 left: 300px;
	 top: 50px;
}

 .floors {
	 display: flex;
	 height: 100%;
	 width: 100%;
	 justify-content: stretch;
	 flex-direction: column-reverse;
}
 .floors .floor {
	 position: relative;
	 height: 100%;
}
 .floors .floor:after {
	 content: "";
	 display: block;
	 width: 100%;
	 position: absolute;
	 top: 0;
	 border-top: 1px solid rgb(239, 245, 245);
}
 .elevator-container {
	 position: absolute;
	 background: rgb(232, 238, 237);
	 width: 100px;
	 left: 100px;
	 height: 100%;
	 z-index: 10;
}
 .elevator-container .elevator {
	 width: 40px;
	 height: 60px;
	 margin-left: -20px;
	 margin-top: 7px;
	 left: 50%;
	 background: white;
	 border: 3px solid #333;
	 position: absolute;
	 top: 0px;
	transition: all 2s;
} 
